.App {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    border: 2.5px solid #000000;
    padding: 8px;
}

td {
    text-align: center;
    min-width: 1vw;
    padding: 8px;
}

.td {
    border: 2.5px solid #000000;
    text-align: center;
    min-width: 1vw;
    padding: 8px;
}

.td-red {
    border: 2.6px solid #ff0000;
}

.td-blue {
    border: 2.5px solid #000000;
    border-left: 2.6px solid #0000ff;
}

.td-blue-right {
    border: 2.5px solid #000000;
    border-right: 2.6px solid #0000ff;
}